<?xml version="1.0" encoding="utf-8" ?>
<beans>

    <bean id="userService" class="com.wy.springframework.test.bean.UserService"  scope="prototype">
        <property name="uid" value="10001"/>
        <property name="company" value="河北"/>
        <property name="location" value="先"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>
    <bean id="proxyUserDao" class="com.wy.springframework.test.bean.ProxyFactory"/>
</beans>