<?xml version="1.0" encoding="utf-8" ?>
<beans>
    <bean id="userDao" class="com.wy.springframework.test.bean.UserDao"/>
    <bean id="userService" class="com.wy.springframework.test.bean.UserService">
        <property name="uid" value="10001"/>
        <property name="company" value="河北"/>
        <property name="location" value="先"/>
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean class="com.wy.springframework.test.common.MyBeanFactoryPostProcessor"/>
    <bean class="com.wy.springframework.test.common.MyBeanPostProcessor"/>
</beans>